@font-face {
    font-family: 'AvantGarde Md BT';
    src: url('./assets/fonts/avantgarde.woff2') format('woff2'),
    url('./assets/fonts/avantgarde.woff') format('woff');

    font-style: normal;
    font-weight: 400;
}
